/* =========== RESETS GERAIS - LAYOUT ================= */
:root {
    --orange: #FE6A0F;
    --gray-font: #979797;
    --gray-background: #1F1F1F;
    --gray-soft: #2B2B2B;
    --black-background: #141414;

}

* {
    margin: 0;
    padding: 0;
}
.img-fluid {
    width: max(14vw, 100px);
    object-fit: cover;
}

html {
    scroll-behavior: smooth;

}


.container {
    max-width: 1440px;
    margin: auto;
    position: relative;
    width: 100%;
    /* padding: 0 20px; */
}

body {
    background-color: var(--black-background);
}

/* ================== OCULTAR MENU PARA USAR NO RESPONSIVO ====================== */
.menu-burger{
    display: none;
}

/* =================== HEADER ===================== */
header {
    padding: 24px;
    transition: all 0.3s;
}

.nav-container li img {
    width: 160px;
    cursor: pointer;
}

.nav-container li img:hover {
    filter: contrast(80%);
}

.nav-container ul, .nav-container.div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-container ul li, .nav-container ul li a {
    list-style: none;
    text-decoration: none;
}

.order-btn {
    padding-left: 220px;

}

.order-btn a {
    padding: 8px 56px;
}

/* ============== SECTION BANNER =================  */

.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}

.banner h2 {
    width: 75%;

}

.banner p {
    width: 70%;
    margin-top: 8%;
    margin-left: -2%;
}

.left-banner, .right-banner {
    display: flex;
    align-items: center;
}

.left-banner {
    display: flex;
    flex-direction: column;
    margin-top: 96px;
    padding-bottom: 120px;
}

.left-banner button {
    background-color: var(--orange);
    border: .5px solid var(--orange);
    border-radius: 5px;
    width: 46%;
    min-height: 6%;
    margin-top: 8%;
    margin-left: -27%;
}



.right-banner img {
    width: 480px;
    margin-top: 180px;
    position: absolute;
    z-index: 9999;
}


/* =============== DIV ORDER ================== */
.order {
    background-color:var(--gray-background);
    padding: 50px 0;
    position: relative;
}


.order h3 {
    width: 20%;
    padding-top: 32px;
    padding-bottom: 24px;
    margin-left: 10%;
}


.order div.search input, .order div.selection select {
    padding: 16px 64px; 
    background-color: var(--gray-soft);
    font-size: 24px;
    color:var(--gray-font);
    border: 0;
    outline: none;
    border-radius: 5px;
   
}
.order div.search i {
    right: 88%;
    top: 72%;
    position: absolute;
    
}


div.option {
    display: flex;
    justify-content: space-between;
}


.order input {
    margin-left: 30%;
    
}


/* ================ SECTION BURGERS ==================*/
.burgers{
    
    max-width: 65%;
    margin: 0 auto;
}

.burgers-container{
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    
}

.burger-item{
    cursor: pointer;
    width: 280px;
    height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.burger-item:hover{
    border: 1px solid white;
}

.top{
    width: 100%;
    height: 50%;
    background-color: var(--gray-soft);
}
.promo{
    background-color: var(--orange);
    text-align: center;
    width: 32%;
    padding: 12px;
    border-radius: 5px;
}

.top img{
    width: 190px;
    margin-top: 20px;
    position: absolute;
    z-index: 9999;
    margin-left: 3%;
}

.bottom{
    width: 100%;
    height: 50%;
  
    background-color: var(--gray-background);
    
}

.bottom div{
    margin-top: 16%;
    margin-left: 7%;
    display: flex;
    flex-direction: column;
}

/* ======================= footer =====================*/
footer{
    margin-top: 30px;
    padding-bottom: 50px;
    padding-top: 72px;
    background-color: #1f1f1f;
    display: flex;
    justify-content: space-around;
}
#logo-footer {
    margin-right: 40px;

}

.footer-div{
    display: flex;
    justify-content: space-around;
}

